.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed {
    background: #FF9900;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    text-align: center;
    margin-bottom: 40px;
}
.pagination button{
    margin-right: 10px;
}
.pagination .selected {
    background-color: orange;
}


.items-select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.items-select:hover {
    border-color: #ff9900;
}

.items-select:focus {
    border-color: #ff9900;
    box-shadow: 0 0 4px rgba(255, 153, 0, 0.6);
}
